body {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Montserrat', 'Georgia';
    color: white;
    padding: 0;
    margin: 0;
}

.clock {
    font-size: 5em;
    font-weight: bold;
    color: white;
}

.container {
  padding: 80px 0px 0px 60px;
}

#time, #period {
  display: inline-block;
}

#period {
    padding-left: 5px;
}

#time {
  width: 225px;
}

#source {
  position: absolute;
  bottom: 50px;
}

a {
    color: white;
    font-style: normal;
    font-size: 1.2em;
}

a:hover {
    color: lightblue;
}
